<div class="holder">
	<input type="text" placeholder="name" can-value='name' >
	<input type="text" placeholder="last name" can-value='lastName'>
	<button can-click="clear">clear</button>
	<h1>{{fullName}}</h1>
</div>
