<div class="holder">
	<h2>Introduce yourself</h2>
	
	<input type="text" placeholder="name" can-value='name' >
	<input type="text" placeholder="last name" can-value='lastName'>
	<button can-click="clear">clear</button>
	
	<hello-world message="{fullName}"></hello-world>
</div>


